*{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto 1fr;
    background-color: rgb(24, 24, 24);
}



/* HEADER */
.header{ 
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3 ;
    grid-row-start: 1;
    grid-row-end: 2 ;
    height: 9rem;
}




/* MAIN */
.general {
    background-color: rgb(24, 24, 24);
        color: rgb(231, 231, 231);
        padding: 2rem;
        font-size: 1.3rem;
       
        text-align: justify;
        height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    
}
.mainPart{
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 2;
    grid-row-end: 3;
}

.title{
    padding: 2rem;
    width: 75%;
}

.picture{
    padding: 2rem;

}
.picture img{
    width: 75%;
}
.text{
    padding: 2rem ;
    font-family: 'Times New Roman', Courier, monospace;
    font-size: 1.5rem;
}




/* SIDE */

.aside{
    background-color: rgb(255, 227, 240);
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 5px;
}

.aside h4{
    font-size: 1.6rem;
    padding: 1rem;
    text-align: left;
}

.aside li{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-align: left;
    background-color: rgb(24, 24, 24);
    color: rgb(231, 231, 231);
    border-radius: 5px;
    
}

.aside li:hover{
    background-color: rgb(56, 56, 56);
}


.aside li a{
    text-decoration: none;
    color: rgb(231, 231, 231);
}


/* TIENDA */ 

.general--tienda{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3 ;
    grid-row-start: 2;
    grid-row-end: 3;
}
.mainPart2{
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(24, 24, 24);
    color: rgb(231, 231, 231);
    padding: 2.5rem;
    text-align: left;
    width: 100%;
}

.listaProducto{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100% ;
    grid-gap: 1rem;
}




.productImage img{
    width: 70%;
    border-radius: 10px;   
}

.productImage{
    filter: grayscale(50%);
}

.productImage:hover{
    filter: none;
}

.nombreProducto{
    padding: 1rem;
    padding-top: 2rem;
    color: rgb(250, 233, 250);
    font-size: 1.25rem;
    text-align: justify;
}

.descripcionProducto{
    padding: 1rem;
    text-align: justify;
    font-size: 1rem;
    color: rgb(250, 233, 250);
}


/* SOBRE NOS */ 
.picture--2{
    padding: 1rem;

}
.picture--2 img{
    width: 25%;
    border-radius: 10px;   
}
.title--title2{
    padding: 2rem;
    width: 75%;
    color: rgb(250, 233, 250);
}




/* FORM */ 
.form{
    padding: 2rem;
    color: black;
    background-color: rgb(255, 227, 240);
    border-radius: 10px; 
    align-content: center;
}

.form h4{
    color: rgb(24, 24, 24);;
}



/* PROMO */ 
.picture--combo{
    padding: 1rem;

}
.picture--combo img{
    width: 75%;
    border-radius: 10px;   
}





/* FOOTER */ 
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 1 ;
    grid-row-start: 4 ;
    grid-row-end: 5 ;
}
.footer--flex{
    display: block;
    justify-content: space-around;
}

.buttonProduct{
    font-size: 1.2rem;
    padding: 1.5rem;
    float: right ;
    background-color: rgb(255, 227, 240);
    color: rgb(24, 24, 24);
    border-radius: 5px;
}

.mainPartProduct{
    display: flex;
}

.itemText{
    width: 30rem;
}


@media only screen and (min-width: 650px) {
        body{
            font-family: 'Arial', sans-serif;
            display: grid;
            grid-template-columns: 75% 25%;
            grid-template-rows: 13rem auto auto;
        }
        .header--navbar li{
            bottom: 3rem;
            display: flex;
            flex-wrap: wrap;
            display: inline-block;
            padding-right: 2px;
            padding-top: 1rem;
        }
        .general{
            display: grid;
            grid-column-start: 1;
            grid-column-end: 3 ;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        .listaProducto{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns:  1fr 1fr 1fr;
            grid-gap: 1rem;
        }
        .aside{
            
            grid-column-start: 2;
            grid-column-end: 3 ;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .footer{
            grid-column-start: 1;
            grid-column-end: 3 ;
            grid-row-start: 4 ;
            grid-row-end: 5 ;
        }
        .footer--flex{
            display: flex;
            justify-content: space-around;
        }
}











  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
