$fontMain: 'Arial', sans-serif;
$COLOR1: rgb(255, 227, 240);
$COLOR2: rgb(24, 24, 24);
$COLOR3: rgb(231, 231, 231);

*{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: $fontMain;
}

/*FOOTER*/

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $COLOR2;
    color: $COLOR3;
    padding: 1rem;
    .list{
        list-style-type: none;
        text-align: left;
        a{
            padding: 0.2rem;
            color: $COLOR3;
            text-decoration: none;
        }
    }
    li{
        padding: 0.25rem;
        color: $COLOR3;
        text-decoration: none;
    }
}

.aside{
    h4{
        color: $COLOR2;
    }
}


.productImage2 img{
    width: 70%;
    border-radius: 10px;   
}

