*{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13rem auto auto auto auto;
}



/* HEADER */
.header{ 
    display: flex;
    height: 300px;
    background-color: rgb(255, 227, 240);
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3 ;
}



/* NAVBAR */
.header--navbar{
    padding: 2rem ;
    list-style-type: none;
    padding-top: 5rem;
    position: absolute;
    right: 0rem;
    display: flex;
    flex-wrap: wrap;
}

.header--navbar li{
    padding-top: 2rem;
    display: block;
    padding-right: 2px;
}

.header--navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(250, 233, 250);
    font-family: 'Arial', Courier, monospace;
    font-size: 1.2rem;
    background-color: rgb(24, 24, 24);
    padding: 0.9rem;
    border-radius: 5px;
}
.header--navbar h4:hover {
    background-color: rgb(72, 72, 72);
}

.header--titulo{
    color:rgb(24, 24, 24);
    font-size: 2.5rem;
    padding-top: 50px;
}
.header--logo{
max-width: 100%;
  height: auto;
}

.btn{
    background-color: rgb(24, 24, 24) ;
    color: rgb(250, 233, 250);
    text-transform: uppercase;
    font-family: 'Arial', Courier, monospace;
    font-size: 1.2rem
}




/* MAIN */
.general {
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    
}
.mainPart{
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(24, 24, 24);
    color: rgb(231, 231, 231);
    padding: 2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
}

.title{
    padding: 2rem;
    width: 75%;
}

.picture{
    padding: 2rem;

}
.picture img{
    width: 75%;
}
.text{
    padding: 2rem ;
    font-family: 'Times New Roman', Courier, monospace;
    font-size: 2rem;
}





/* SIDE */

.aside{
    background-color: rgb(212, 115, 208);
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 3;
    grid-row-end: 4;
}

.aside h4{
    font-size: 1.6rem;
    padding: 1rem;
    text-align: left;
}

.aside li{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-align: left;
    background-color: rgb(24, 24, 24);
    color: rgb(212, 115, 208);
    border-radius: 5px;
    
}


/* TIENDA */ 

.general--tienda{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3 ;
    grid-row-start: 2;
    grid-row-end: 3;
}
.mainPart2{
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(24, 24, 24);
    color: rgb(231, 231, 231);
    padding: 2.5rem;
    text-align: left;
    width: 100%;
}

.listaProducto{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100% ;
    grid-gap: 1rem;
}




.productImage img{
    width: 70%;
    border-radius: 10px;   
}

.nombreProducto{
    padding: 1rem;
    padding-top: 2rem;
    color: rgb(250, 233, 250);
    font-size: 1.25rem;
    text-align: justify;
}

.descripcionProducto{
    padding: 1rem;
    text-align: justify;
    font-size: 1rem;
    color: rgb(250, 233, 250);
}


/* SOBRE NOS */ 
.picture--2{
    padding: 1rem;

}
.picture--2 img{
    width: 25%;
    border-radius: 10px;   
}
.title--title2{
    padding: 2rem;
    width: 75%;
    color: rgb(250, 233, 250);
}




/* FORM */ 
.form{
    padding: 2rem;
    color: black;
    background-color: rgb(255, 227, 240);
    border-radius: 10px; 
    align-content: center;
}

.form h4{
    color: rgb(24, 24, 24);;
}



/* PROMO */ 
.picture--combo{
    padding: 1rem;

}
.picture--combo img{
    width: 75%;
    border-radius: 10px;   
}





/* FOOTER */ 
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 1 ;
    grid-row-start: 4 ;
    grid-row-end: 5 ;
}
.footer--flex{
    display: block;
    justify-content: space-around;
}
.footer--list{
    list-style-type: none;
    text-align: left;
}
.footer--list a{
    padding: 0.2rem;
    color: rgb(231, 231, 231);
    text-decoration: none;
}

.footer--list li{
    padding: 0.25rem;
    color: rgb(231, 231, 231);
    text-decoration: none;
}




@media only screen and (min-width: 420px) {
body{
    font-family: 'Arial', sans-serif;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 13rem auto auto;
}
.header--navbar li{
    bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    padding-right: 2px;
    padding-top: 1rem;
}
.general{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3 ;
    grid-row-start: 2;
    grid-row-end: 2;
}
.listaProducto{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 1rem;
}
.aside{
    background-color: rgb(212, 115, 208);
    padding: 2rem;
    grid-column-start: 2;
    grid-column-end: 3 ;
    grid-row-start: 2;
    grid-row-end: 3;
}
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 3 ;
    grid-row-start: 4 ;
    grid-row-end: 5 ;
}
.footer--flex{
    display: flex;
    justify-content: space-around;
}
}











  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 

